/* Master CSS Reset */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.btn,
.btn:active,
.btn:hover,
.btn:focus {
  margin-top: 5rem;
  font-family: "Space Mono", monospace;
  color: #fff;
  background-color: #333333;
  border: none;
  outline: none;
  padding: 2rem 4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

.display {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32.5rem, 1fr));
}

.display__img > img {
  width: 100%;
}

.display__content {
  margin-left: 3rem;
}

.display__content--info {
  font-size: 3rem;
  line-height: 1.2;
}

.display__content--text {
  margin-top: 1.5rem;
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  width: 35rem;
}

.nav {
  font-family: "Inconsolata", monospace;
  margin-top: 4rem;
  margin-left: 7.7rem;
  text-transform: uppercase;
}

@media (max-width: 37.5em) {
  .display__content {
    margin-left: 0;
  }

  .display__content--info {
    font-size: 4.8rem;
  }

  .display__content--text {
    font-size: 1.5rem;
  }
}
